[Desktop Entry]
Encoding=UTF-8
Name=kargos
Comment=Argos port to KDE Plasma
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=lipido
X-KDE-PluginInfo-Email=lipido@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.kargos
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Website=https://github.com/lipido/kargos
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Windows and Tasks

